@import "tailwindcss";
@plugin "daisyui";
/* @plugin "daisyui/theme" {
  daisyui: {
    themes: [
    "light", {
      black : {
        ...daisyUIThemes["black"],
        primary: "rgb(29, 155, 240)",
        secondary: "rgb(24, 24, 24)",
      },
    },
  ],
  }
}; */

@plugin "daisyui/theme" {
  name: "black";
  default: true;
  --color-primary: rgb(29, 155, 240);
  --color-secondary: rgb(24, 24, 24);
}



